<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <a href="/auth/signout">Signout</a>
    <h2>Search</h2>
    <form method="POST" action="/book/search">
      <label>Book Name</label>
      <input type="text" name="book" placeholder="title, genre" />
      <button type="submit">Submit</button>
    </form>
    <a href="/book/create">Add A book</a>

    <h3>Show all Books added by user</h3>
    <% books.forEach((book) => { %>
    <div>
      <a href="/book/view/<%=book._id%>"><%= book.title %></a>
      <span><%= book.author %></span>
      <span><%= book.genre %></span>
      <a href="/book/edit/<%= book._id%>">Edit</a>
      <form method="POST" action="/book/delete/<%= book._id%>?_method=DELETE">
        <button>Submit</button>
      </form>
    </div>

    <% }) %>
  </body>
</html>
